mediscan-py-engine/models/
mediscan-py-engine/venv/
mediscan-py-engine/.venv
mediscan-py-engine/__pycache__
mediscan-py-engine/build/
mediscan-py-engine/*.spec
mediscan-py-engine/dist/

mediscan_desktop/src-tauri/yolo_engine

*.pt
.vscode

.env
*.pem
